<!DOCTYPE html>
<html>
         <head>
                  <title>{{ page.title }}</title>
                  <!-- link to main stylesheet -->
                  <link rel="stylesheet" type="text/css" href="/css/ma
in.css">
         </head>
         <body>
                  <nav>
                  <ul>
                          <li><a href="/">Home</a></li>
                          <li><a href="/ahmed-al-momens-resume.pdf">Resume</a></li>
                  </ul>
                  </nav>
                  <div class="container">
                  
                  {{ content }}
                    
                  </div><!-- /.container -->
                  <footer>
                  <ul>
                            <li><a href="mailto:almomen.a@husky.neu.edu">almomen.a@husky.neu.edu
</a></li>
                            
                      </ul>
               </footer>
         </body>
</html>

